python-dotenv
openai
langgraph
langchain-community
langchain-openai
langchain-text-splitters
langchain-huggingface
faiss-cpu
sentence-transformers
unstructured
pypdf
reportlab
ddgs
requests
beautifulsoup4
pandas
openpyxl